<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>WebEngineering</title>

        <!-- CSS -->

        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
   		<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet"/>
        <link href="~/Content/themes/base/masonry.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/fullcalendar.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

        <!-- API's -->

        <script src="Scripts/jquery-1.9.1.min.js"></script>
        <script src="Scripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
        <script src="Scripts/jquery-ui-1.10.2.js"></script>

        <script src="Scripts/modernizr-2.5.3.js" type="text/javascript"></script>
        
        <script src="Scripts/dataPlot.js" type="text/javascript"></script>
  		<script src="Scripts/bootstrap.min.js" type="text/javascript"></script>
		<script src="Scripts/QuoteService.js" type="text/javascript"></script>
        <script src="Scripts/highcharts.js"></script>
        
        <script src="Scripts/fullcalendar.js" type="text/javascript"></script>
        
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="About.cshtml">Web Engineering</a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </form>
                            </text>
                        } else {
                            <ul>
                                <li ><a class="btn btn-large  "  id="loginbutton" href="https://www.facebook.com/dialog/oauth/?client_id=536466069729077&redirect_uri=http://localhost:8440/RepoNumber4/&scope=read_stream,export_stream,email,photo_upload,user_likes,user_activities,user_status,friends_status,publish_stream">Log in</a></li>
                            </ul>
                        }
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Team 3</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>

    <script src="Scripts/home.js"></script>
    <script src="Scripts/facebook.js"></script>

    <script src="Scripts/photoupload.js"></script>

    <script src="Scripts/stocks.js"></script>


</html>
