@{
    Layout = "~/_TileLayout.cshtml";
    Page.Head = "Calendar";
    Calendar cal = new Calendar();
    cal.database();
        
}

@section content {
<html>
    <head>
        <title>Web Engineering - @Page.Head</title>

        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
   		<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet"/>
        <link href="~/Content/fullcalendar.css" rel="stylesheet" />
        <link href="~/Content/fullcalendar.print.css" media="print" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
 
        <script src="Scripts/jquery-1.9.1.min.js"></script>
        <script src="Scripts/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
        <script src="Scripts/jquery-ui-1.10.2.js"></script>
  		<script src="Scripts/bootstrap.min.js" type="text/javascript"></script>

        <script src="Scripts/fullcalendar.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="body">
            <div id='calendar'></div>

            <a class="btn" href="~/Event.aspx" role="button">Add New Event</a>
            <a class="btn" href="~/Default.cshtml">Return to Portal</a>
        </div>
        

        <script>
            $(function() {
                var e = new Array();
                var dates = "@cal.getDates()".split("*");
                var names = "@cal.getNames()".split("*");
                var starts = "@cal.getStarts()".split("*");
                var ends = "@cal.getEnds()".split("*");
 
                for(var i = 0; i < parseInt("@cal.getNumOfEntries()"); i++) {
                    var date = dates[i].split("/");
                    var d = parseInt(date[1]);
                    var m = parseInt(date[0]);
                    m = m - 1;
                    var y = parseInt(date[2]);

                    var start = starts[i].split(":");
                    var starth = parseInt(start[0]);
                    var startm = parseInt(start[1]);
                    var end = ends[i].split(":");
                    var endh = parseInt(end[0]);
                    var endm = parseInt(end[1]);
                    e.push({ title: names[i], start: new Date(y, m, d, starth, startm), end: new Date(y, m, d, endh, endm), allDay: false });
                }


                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    selectable: true,
                    selectHelper: true,
                    select: function (start, end, allDay) {
                        var title = prompt('Event Title:');
                        if (title) {
                            calendar.fullCalendar('renderEvent',
                                {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                },
                                true // make the event "stick"
                            );
                        }
                        calendar.fullCalendar('unselect');
                    },
                    editable: true,

                    events: e
                });
            });
        </script>
    </body>
</html>
}